
$fontMain: "Winston", "Verdana", "Helvetica", "Arial", sans-serif;
$fontDecor: "Vasek", cursive;
// $fontTitle: "Winston", "Verdana", "Helvetica", "Arial", sans-serif;

// don't change, root base size = 10px
// $fontSize: 62.5%;
$fontSize: 10px;
//usually - normal 400
$fontWeightNormal: 400;

$colorBgnd: #f9f7f8;
$colorWhite: #ffffff;
// $colorLight: #918299;
$colorLight: #827089;
$colorBright: #d6ff3f;
$colorDark: #665070;
$colorGray: #626286;
$colorBlack: #240532;
