@font-face {
  font-family: "Winston";
  src: 
    local("Winston"),
    url("../font/winston-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Winston";
  src: 
    local("Winston"),
    url("../font/winston-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;  
}

@font-face {
  font-family: "Winston";
  src: 
    local("Winston"),
    url("../font/winston-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;  
}

@font-face {
  font-family: "Winston";
  src: 
    local("Winston"),  
    url("../font/winston-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;  
}




