// @import "./destyle" ; 
// @import "./normalize" ;
// @import "./reset"; 
// @import "./visHidden";
// @import "./vars";

//   add fonts
// @import "./winston";




/* body {
max-width: 320px;
outline: auto green;
  padding: 10px;

  // font-family: $fontMain;
  font-style: normal;
  font-weight: $fontWeightNormal;
  font-size: 10px;
  line-height: 1.2;
  color: $colorBlack;
  
  // background-color: $colorBgnd;
  background-color: lightgreen;
} */

/* Контейнер, ограничивающий фиксированный макет */
/* .container {
  // max-width: __px;
  margin: 0 auto;
}
 */

/* .headline--1 {
  font-size: 9.8rem;
}

.headline--2,
.stroke {
  font-size: 4rem;
}

.headline--3 {
  font-size: 2rem;
}

.subtitle {
  font-size: 2.5rem;
}

.numbers {
  font-size: 6.4rem;
}

.text--1,
.text--3,
.btn__title,
.frm__txt  {
  font-size: 1.6rem;
}

.text--2 {
  font-size: 1.8rem;
}

.text--4 {
  font-size: 1.2rem;
}

.header__nav {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.main__title {
  font-family: $fontTitle;
  font-weight: 700;
} */